/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family:Verdana, Helvetica, Arial, sans-serif;
  font-size:76%;
  color:#545454;
  background:#fff;
  line-height:120%;
  min-width:760px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 60em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #666e7e;
  font-weight: bold;
  font-size: 36pt;
  margin-bottom: 0.5em;
}

.title-slug {
  font-family: "Times new roman", "Serif";
  color: #7f755d;
  font-size: 14pt;
  font-weight: normal;
  margin-top: 20px;
  font-style: italic;
}

.site .title a {
  color: #666e7e;
  text-decoration: none;
}

.site .title a:hover {
  color: #676f7f;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.posts a {
  color: #666e7e;
  text-decoration: none;
}

.posts a:active {
  color: #666e7e;
  text-decoration: none;
}

.posts a:visited {
  color: #666e7e;
  text-decoration: none;
}

.posts a:hover {
  color: #333e7e;
  text-decoration: underline;
}

.site .title-rss img {
  border: 0;
  float: right;
  margin-top: -30px;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  text-align: justify;
}

#post-date {
  text-align: right;
  font-size: 75%;
  font-family: Verdana;
  color: #aaa;
}

#post h1 {
  font-size: 140%;
}

#post hr {
  color: #a00;
  margin-top: -5px;
}

/* standard */

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 95%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}


#post a {
  color: #333e7e;
  text-decoration: none;
}

#post a:active {
  color: #333e7e;
  text-decoration: none;
}

#post a:visited {
  color: #333e7e;
  text-decoration: none;
}

#post a:hover {
  color: #666e7e;
  text-decoration: underline;
}

#post ul {
  list-style-position: inside;
}


#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

#tags hr {
  color: #a00;
  margin-bottom: 8px;
}

#related hr {
  color: #a00;
  margin-bottom: 8px;
}