<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Jason M. Adams" />
  <link href="http://feeds.feedburner.com/TheMendicantBug" rel="alternate" title="The Mendicant Bug" type="application/atom+xml" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  
  <!-- Google analytics -->
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6833988-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</head>
<body>

  <div class="site">
    <div class="title-rss">
      <a href="http://feeds.feedburner.com/TheMendicantBug">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
    <div class="title">
      <a href="/">The Mendicant Bug</a>
      <div class="title-slug">
        Wanderings into computational linguistics, science, social media and life...
      </div>
    </div>
    

    {{ content }}

    <table class="footer" width="100%">
      <tr>
        <td class="contact">
          <a href="http://www.cs.cmu.edu/~jmadams" rel="alternate">Jason Adams</a><br />
          jaso<a href="http://mailhide.recaptcha.net/d?k=01d1AzK5LnKkbjrIsoWzSA7A==&amp;c=QAwiCbP0hqAwoLgwfGVYukpSyGGAN0U0DC2_vkWfiY4=" onclick="window.open('http://mailhide.recaptcha.net/d?k=01d1AzK5LnKkbjrIsoWzSA7A==&amp;c=QAwiCbP0hqAwoLgwfGVYukpSyGGAN0U0DC2_vkWfiY4=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@gmail.com
        </td>
        <td class="contact">
          <a href="http://github.com/ealdent">github.com/ealdent</a><br />
          <a href="http://twitter.com/ealdent">twitter.com/ealdent</a>
        </td>
      </tr>
    </table>

  <a href="http://github.com/ealdent"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>


  <script type="text/javascript">
  //<![CDATA[
  (function() {
  		var links = document.getElementsByTagName('a');
  		var query = '?';
  		for(var i = 0; i < links.length; i++) {
  			if(links[i].href.indexOf('#disqus_thread') >= 0) {
  				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
  			}
  		}
  		document.write('<script type="text/javascript" src="http://disqus.com/forums/themendicantbug/get_num_replies.js' + query + '"></' + 'script>');
  	})();
  //]]>
  </script>

</body>
</html>